@media only screen and (min-width: 1020px) {

    @import "./components/variable";

    // ======== HOME PAGE ========

    header {
        padding: $d-padding;

        nav {
            ul {
                position: static;
                width: fit-content;
                height: fit-content;
                display: flex;
                flex-direction: row;
                background: transparent;
            }

            .menuButton {
                display: none;
                transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }
    }

    section {
        padding: $d-padding;
        aside {
            width: 50%;
        }
    }

    #hero {
        height: calc(100% - 60px);
        padding: $d-padding;
        flex-direction: row;
        gap: 1rem;

        .contentSide {
            align-items: start;
            justify-content: center;
            text-align: left;
            padding: 2rem 0rem;

            h1 {
                font-size: 3rem;
            }
        }

        .imgSide {
            height: 100%;
            padding: 0rem 4rem;
            align-content: end;
            img {
                width: 90%;
                height: 90%;
                float: right;
            }
        }
    }

    #des {
        flex-wrap: nowrap;
        height: 10rem;

        .desContent {
            width: 25%;
            background: transparent;
            border-radius: 0;
        }
    }

    #about {
        flex-direction: row;
        gap: 0;
        .imgSide {
            .imageBox {
                width: 500px;
                height: 500px;
            }
        }
        .contentSide {
            h2,p {
                text-align: left;
            }
        .btnContainer {
            flex-direction: row;
        }
        }
    }

    #courses {
        flex-direction: row;
        flex-wrap: wrap;
        padding: $d-padding;

        .card {
            width: 25%;
            height: fit-content;
        }
    }

    #contact {
        width: 60%;
        padding: $d-padding;
        .imgSide {
            display: flex;
        }
        .contentSide {
            width: 50%;
        }
    }

    footer {
        height: 350px;
        .container {
            flex-direction: row;
            padding: 2rem 5rem;
            gap: 0;

            .dets {
                width: 25%;

                .quickLinks {
                    h3 {
                        text-align: left;
                    }

                    li {
                        width: 95%;
                        margin: 0.8rem 0rem;
                    }
                }
            }
        }
    }

    // ======== LOGIN FORM ========

    #loginContainer {
        form {
            width: 50%;
            padding: 2rem 4rem;
        }
    }









}